{% extends 'base/main-template.html' %}

{% block content %}

<div class="header">
    <div  style="margin-left:auto; margin-right:auto;">
            <h1>Register</h1>
    </div>
</div>
<div class="card-body">
    <form method="POST">
    {% csrf_token %}
    <label>{{form.username.label}}</label>
    {{form.username}}
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <label>{{form.password2.label}}</label>
    {{form.password2}}

    <input style="margin-top: 1rem" class="search-btn" type="submit" value="Register">
</form>

<p>Already have an account? <a style="color:rgb(0, 0, 0);" href="{% url 'login' %}">Login</a> </p>
</div>


{% endblock content %}


